.App {
  background-color: rgb(26, 23, 215)
}

h1 {
  text-align: center;
  font-size: xx-large;
}

img {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.input {
  text-align: center;
}

.error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.WecomePage {
  width: 600px;
  margin: 0 auto;
  background-color: peru;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}